
header {
    background-color: rgb(255, 255, 255);
}
header nav ul {
    top: 20px; 
}
header nav ul li {
    display: inline; /*block*/ 
    
}
header nav ul li a {
    color: black;
    font-style: italic;
}















footer{
    background-color: rgb(255, 255, 255);;
}
footer nav ul {
    top: 20px;
}
footer nav ul li {
    display:block; 
}
footer nav ul li a {
    color: black;
    font-style: italic;
}



.colorTitulos {
    color: rgb(0, 0, 0)
}     /*clase*/

#tituloPrincipal {  
    
    color: blueviolet;

}     /*ID*/ 







/*nav ul {
    position: fixed; /*absolute, sticky, top, bottom,etcs
    top: 20px;
    background-color: burlywood;
}

/*comentar*/