*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}
a{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-decoration: none;
}
h4 {
    display: flex;
    justify-content: center;
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4rem;
}

/*--GENERAL--*/
.styleTitulos {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    padding: 3rem;
    margin-top: 4rem;
}  



/*HEADER*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0rem 6rem;
    border-bottom: 1px solid rgb(242, 184, 216);
    position: sticky;
    top: 0;
    width: 100vw;
}
.header-nav{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}
.header-lista li{
    display: inline-block;
    padding: 0rem 2.5rem;
    list-style-type: none;
}
.logoHeader {
    width: 10%;
    height: 10%;
}
.profileCartHead{
    display: flex;
    padding: 2rem;
    gap: 1rem;
}


/*FOOTER*/
.footer{
    width: 100vw;
    background-color: rgb(242, 184, 216);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem; 
}
.footer-nav{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.footer-nav li{
    list-style-type: none;
    padding: 0.5rem ;
}
.logoFooter{
    height: 300px;
    border-radius:500px;
}
.redesFooter{
    display: flex;
    flex-direction:column;
    padding: 1rem;
}
.redesFooter div{
    display: flex;
    flex-direction: row;
    padding: 1rem;
}
.profileCartFoot{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}
.profileCartFoot div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}









/*--INDEX HOME--*/
.sliders{
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    background-color:blanchedalmond;
    margin-bottom: 4rem;
}
.fotoSlider{
    display: flex;
    flex-direction: row;
    height: 30%;
    width: 30%;
}
.botonSlider{
    display: flex;
    outline: none;
    border:none;
    padding: 4rem;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-size: 80%;
}





/*CONTACTO*/
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px;
    background-color: rgb(242, 184, 216);
    margin-bottom: 5rem;
    justify-items: center;
}
.formstyle{
    display: flex;
    flex-direction: column;
    width: 30rem;
}
.submitContacto {
    outline: none;
    border:none;
    margin-top: 1rem;
    width: 15%;
    height: 10%;
    border-radius: 15px;
}
.mapa{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    padding-bottom: 50px;
}





/*NOSOTROS*/
.roma{
    display: flex;
    padding-top: 4rem;
    align-items: center;
    justify-content: center;
}
.roma div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgStaff{
    display: flex;
    padding: 2rem;
    width: 65%;
}
.conoceMas{
    font-family: 'Roboto', sans-serif;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(242, 184, 216);
    padding-bottom: 10rem;
}
.botonConoceMas{
    padding-top: 2rem;
    outline: none;
    border:none;
    background-color: white;
    font-size: 50px;
}
iframe{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
}











/*!!porcentaje es Absoluto y px es relativo!!!*/




/*comentar*/