/*HEADER*/
.header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid $clr-ppl;
    position:fixed;
    width: 100%;
    top:0;
    z-index: 99;
}
.logoHeader {
    padding-left: 4rem;
    width: nth($size , 12);
    height: 30%;
    @media (max-width: 576px){
            width: 50%;
            height: 50%;
    }
}
.nav-link{
    font-family:'Roboto', sans-serif;
    font-weight: 600;
    background-color: white;
}
.container-fluid{
    background-color: white;
}
.navbar{
    background-color: white;
    padding-top: 0;
    padding-bottom: 0;
}